# Compiled class files
*.class

# Maven target directory
target/

# Eclipse and IntelliJ project files
*.log
*.iml
*.ipr
*.iws

# NetBeans files
/nbproject/private/

# VS Code settings
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Package files
*.jar
*.war
*.ear

# Local environment files
.env
*.properties
