.root {
    -fx-seasalt: #F7F7F7;
    -fx-periwinkle: #C6BEFC;
    -fx-cornflower: #688CDB;
    -fx-resolution: #32327C;
    -fx-penn: #0C0C3B;
    
    -fx-surface: #121019;
    -fx-secondary-surface: #1F1B2B;
    -fx-transparent-surface: #121019B3;
    -fx-text: #F7F7F7;
    -fx-secondary-text: #BDBDBD;

    -fx-error: #FF4A4A;
    -fx-accent: #688CDB;
    -fx-inactive: #625C75;
    -fx-overlay: #12101933;
    -fx-accent-surface: #688CDB;

    -fx-background-color: -fx-secondary-surface;
}
Text {
    -fx-fill: -fx-text;  
}

