.root {
    -fx-seasalt: #F7F7F7;
    -fx-periwinkle: #C6BEFC;
    -fx-cornflower: #688CDB;
    -fx-resolution: #32327C;
    -fx-penn: #0C0C3B;
    
    -fx-surface: #F7F7F7;
    -fx-secondary-surface: #E9E9E9;
    -fx-transparent-surface: #F7F7F766;
    -fx-text: #1C1B1F;
    -fx-secondary-text: #3F3D45;

    -fx-error: #FF4A4A;
    -fx-accent: #32327C;
    -fx-inactive: #9C96AE;
    -fx-overlay: #F7F7F733;
    -fx-accent-surface: #32327C;

    -fx-background-color: -fx-secondary-surface;
}
